/* body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .send-field {
    width: 100px; 
  }
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #9776FF;
    border-color: #9776FF;
}

.btn-primary:hover {
  background-color: #7554CC;
  border-color: #7554CC;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}

.sidebar_main-font {
  font: normal normal bold 40px/58px Noto Sans CJK KR;
  font-size: 36px;
  color: #f2f2f2;
  margin-top: -30px;
}

.font-bar {
  margin-top: 50px;
  width: 150px;
  height: 29px;
  background: #848484 0% 0% no-repeat padding-box;
}

.button-field {
  margin-top: 70px;
}

.select {
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: #9776FF;
  border-radius: 5px;
}

.select-button {
  color: #F2F2F2;
  font-weight: 600;
}

.button {
  width: 200px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.back-field {
  width: 100vw;
  background-color: #f2f2f2;
  padding: 20px 20px;
  display: flex;
  justify-content: space-evenly;
}

.chating-field {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ddd;
}

.chat-field {
  padding-bottom: 60px;
}

.chat {
  width: 100%;
  border-bottom: solid 1px #bbb;
  font-size: 17px;
}

.assistance_chat {
  display: flex;
  background-color: #F7F7F8;
  padding: 20px 40px 10px 20px;
}

.user_chat {
  display: flex;
  align-items: center;
  min-height: 50px;
  background-color: #fff;
  padding: 20px 40px 10px 20px;
}

.profile > img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 20px;
}

.send-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
  background-color: #ddd;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100%;
}

.analysis-field {
  height: 94%;
  border-radius: 10px;
  background-color: #ddd;
  padding: 20px;
  display: block;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.analysis-list {
  margin-top: 16px;
  width: 100%;
  height: 90%;
}

.analysis-data {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

#jobUrl {
  color: #828282;
}

.etc-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 330%;
}

.etc-field_link-field {
  width: 70%;
  height: 70px;
  border-radius: 10px;
  background-color: #555555;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.etc-font {
  font: normal normal medium 21px/30px Noto Sans CJK KR;
  font-size: 16px;
  color: #bcbcbc;
  font-weight: 700;
}

.etc-link {
  font: normal normal medium 21px/30px Noto Sans CJK KR;
  font-size: 15px;
  color: #BCBCBC;
  font-weight: 800;
} */