<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
  <title>Chat</title>
</head>
<body>
<div class="flex flex-col h-screen">

  <!--Appbar-->
  <div class="py-3 px-16 border-b flex justify-between items-center shadow">

    <!--Left Appbar contents-->
    <div class="flex space-x-6 items-center">
      <div class="text-2xl font-bold">김비서</div>
      <div class="flex space-x-2 items-center">
        <a class="p-2 text-stone-500 font-bold cursor-pointer rounded-lg hover:bg-stone-100" href="#">사용방법</a>
        <a class="p-2 text-violet-500 font-bold cursor-pointer rounded-lg hover:bg-stone-100" href="/chat/new" th:if="${name != null}">새로운 채팅</a>
        <a class="p-2 text-stone-500 font-bold cursor-pointer rounded-lg hover:bg-stone-100" href="/chat/recent" th:if="${recent_results != null}">이전 기록</a>
      </div>
    </div>
    <!--Left Appbar contents-->

    <!--Right Appbar contents-->
    <div class="flex space-x-5 items-center">
      <a th:if="${name == null}" th:href="|/login?redirect=${ current_url }|" class="p-2 text-stone-800 font-bold cursor-pointer rounded-lg hover:bg-stone-100">로그인</a>
      <span th:if="${name != null}" class="p-2 text-violet-500 font-bold underline" th:text="${name}"></span>
      <a th:if="${name != null}" href="/logout" class="p-2 text-stone-800 font-bold cursor-pointer rounded-lg hover:bg-stone-100">로그아웃</a>
    </div>
    <!--Right Appbar contents-->

  </div>
  <!--Appbar-->



  <!--Body-->
  <div class="relative h-full px-14 pt-7 grid grid-rows-6 grid-cols-4 gap-7 overflow-auto">

    <div id="chats" class="col-span-3 row-span-5 p-5 border rounded-lg shadow-lg space-y-3 overflow-y-scroll no-scrollbar">
    </div>

    <div id="container" data-modal-toggle="defaultModal" data-modal-target="defaultModal" class="row-span-5 h-full p-2 border rounded-lg shadow-lg flex flex-col space-y-2 overflow-y-scroll no-scrollbar">
    </div>

    <div class="col-span-3 relative h-24">
      <div class="absolute bottom-0 left-0 w-full bg-white">
        <form class="stretch flex flex-row">
          <div class="relative flex h-full flex-1 items-stretch md:flex-col" role="presentation">
            <div class="flex flex-col w-full flex-grow py-4 pl-4 relative border border-black/10 bg-stone-50 rounded-lg shadow-lg">
              <textarea id="chat-input" tabindex="0" rows="1" placeholder="Send a message" class="m-0 w-full resize-none border-0 bg-transparent p-0 pr-10 focus:ring-0 focus-visible:ring-0 dark:bg-transparent md:pr-12 pl-3 md:pl-0" style="max-height: 200px; height: 24px; overflow-y: hidden"></textarea>
              <button id="chat-btn" class="absolute p-1 rounded-md md:bottom-3 md:p-2 md:right-3 dark:hover:bg-gray-900 dark:disabled:hover:bg-transparent right-2 disabled:text-gray-400 enabled:bg-violet-500 text-white bottom-1.5 transition-colors disabled:opacity-40" disabled="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" class="h-4 w-4 m-1 md:m-0" stroke-width="2">
                  <path d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z" fill="currentColor"></path>
                </svg>
              </button>
            </div>
          </div>
        </form>
        <div class="h-7 pt-2 text-center text-stone-500 space-x-1">
          <span class="text-xs">Powered by</span>
          <span class="text-xs">
            <a class="text-violet-400" href="https://openai.com" target="_blank">OpenAI</a>
            <span class="text-sm">|</span>
            <a class="text-violet-400" href="https://saramin.co.kr" target="_blank">Saramin</a>
          </span>
        </div>
      </div>
    </div>

    <div class="row-span-1 relative h-24">
      <div class="absolute bottom-0 w-full">
        <button class="top-0 w-full p-4 border rounded-lg shadow-lg text-stone-500">사전 정보 수정</button>
        <div class="h-7"></div>
      </div>
    </div>

  </div>

</div>
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="font-noto absolute top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-5xl max-h-full shadow-lg">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between px-4 py-1 border-b rounded-t dark:border-gray-300 bg-stone-100">
        <div class="flex space-x-2">
          <div class="w-2 h-2 bg-red-500 rounded-3xl"></div>
          <div class="w-2 h-2 bg-amber-500 rounded-3xl"></div>
          <div class="w-2 h-2 bg-green-500 rounded-3xl"></div>
        </div>
        <button type="button" class="text-gray-400 bg-transparent hover:text-gray-600 rounded-lg text-xs p-1.5 ml-auto inline-flex items-center" data-modal-hide="defaultModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-x-2 flex items-center justify-between">
        <div class="flex space-x-12">
          <p id="modal-company" class=" font-bold"></p>
          <p id="modal-title" class="dark:text-gray-400 font-extrabold"></p>
        </div>
        <a id="modal-url" target="_blank" class="block bg-violet-200 text-violet-500 p-2 rounded-lg text-xs">
          보러가기
        </a>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 border-gray-200 rounded-b dark:border-gray-600">
        <div class="w-1/6 flex flex-col justify-start px-1.5">
          <div class="font-bold text-sm flex items-center justify-start space-x-3">
            <img loading="lazy" class="w-4 h-4" src="/icons/location.png" alt="loc">
            <span>위치</span>
          </div>
          <span id="modal-region" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
        </div>
        <div class="w-1/6 flex flex-col justify-start px-1.5">
          <div class="font-bold text-sm flex items-center justify-start space-x-3">
            <img loading="lazy" class="w-4 h-4" src="/icons/profit.png" alt="loc">
            <span>연봉</span>
          </div>
          <span id="modal-salary" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
        </div>
        <div class="w-1/6 flex flex-col justify-start px-1.5">
          <div class="font-bold text-sm flex items-center justify-start space-x-3">
            <img loading="lazy" class="w-4 h-4" src="/icons/sales.png" alt="loc">
            <span>근무형태</span>
          </div>
          <span id="modal-type" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
        </div>
        <div class="w-1/6 flex flex-col justify-start px-1.5">
          <div class="font-bold text-sm flex items-center justify-start space-x-3">
            <img loading="lazy" class="w-4 h-4" src="/icons/profile.png" alt="loc">
            <span>학력</span>
          </div>
          <span id="modal-education" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
        </div>
        <div class="w-1/6 flex flex-col justify-start px-1.5">
          <div class="font-bold text-sm flex items-center justify-start space-x-3">
            <img loading="lazy" class="w-4 h-4" src="/icons/career.png" alt="loc">
            <span>경력</span>
          </div>
          <span id="modal-career" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
        </div>
        <div class="w-1/6 flex flex-col justify-start px-1.5">
          <div class="font-bold text-sm flex items-center justify-start space-x-3">
            <img loading="lazy" class="w-4 h-4" src="/icons/time.png" alt="loc">
            <span>근무시간</span>
          </div>
          <span id="modal-time" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script th:inline="javascript">
    function getUserImage() {
        return [[${image}]]
    }
</script>
<script src="/js/chatInput.js"></script>
<script src="/js/chatResult.js"></script>
<script src="/js/flowbite.min.js"></script>
</html>
