<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
  <title>Chat</title>
</head>
<body>
    <div class="flex flex-col h-screen">

      <!--Appbar-->
      <div class="py-5 px-14 border-b flex justify-between items-center">

        <!--Left Appbar contents-->
        <div class="flex items-center space-x-16">
          <div class="text-2xl font-bold">김비서</div>
          <div class="flex space-x-5">
            <a href="#" class="text-stone-500 font-bold cursor-pointer">사용방법</a>
            <a href="#" class="text-violet-500 font-bold cursor-pointer">대화하기</a>
          </div>
        </div>

        <!--Right Appbar contents-->
        <div class="flex space-x-5">
        {{^ name }}
          <a href="/login?redirect={{ current_url }}" class="text-stone-800 font-bold cursor-pointer">로그인</a>
        {{/ name }}
        {{# recent_results }}
          <a href="#" class="text-stone-800 font-bold cursor-pointer">이전 기록</a>
        {{/ recent_results }}
        {{# name }}
          <span href="#" class="text-stone-800 font-bold underline">{{ name }}</span>
          <a href="/logout" class="text-stone-800 font-bold cursor-pointer">로그아웃</a>
        {{/ name }}
        </div>

      </div>



      <!--Body-->
      <div class="h-full px-14 py-5 flex space-x-7 overflow-auto">


        <!--Chat-->
        <div class="w-full h-full flex flex-col space-y-7 overflow-auto">

          <!--Chat items-->
          <div id="chats" class="h-full p-5 border rounded-lg shadow-md space-y-3 overflow-y-scroll no-scrollbar">

<!--            <div class="assistant flex space-x-3">-->
<!--              <img class="w-7 h-7 rounded-lg" src="/images/logo-rev.png" alt="" />-->
<!--              <div class="w-full p-5 bg-violet-100 rounded-lg">안녕하세요. 저는 사용자님께 알맞은 취업 정보를 제공해 드릴 김비서입니다.</div>-->
<!--            </div>-->
<!--            <div class="user flex space-x-3">-->
<!--              <img class="w-7 h-7 rounded-lg" src="{{image}}" alt="" />-->
<!--              <div class="w-full p-5 bg-pink-100 rounded-lg">안녕</div>-->
<!--            </div>-->
<!--            <div class="assistant flex space-x-3">-->
<!--              <img class="w-7 h-7 rounded-lg" src="/images/logo-rev.png" alt="" />-->
<!--              <div class="w-full p-5 bg-violet-100 rounded-lg">니가 뭔데</div>-->
<!--            </div>-->
<!--            <div class="user flex space-x-3">-->
<!--              <img class="w-7 h-7 rounded-lg" src="{{image}}" alt="" />-->
<!--              <div class="w-full p-5 bg-pink-100 rounded-lg">ㄷㄷ</div>-->
<!--            </div>-->

          </div>

          <!--Chat input-->
          <div class="h-20">
    <!--        <label>-->
    <!--          <input type="text" name="chat" class="w-full p-3 border rounded-lg shadow-md">-->
    <!--        </label>-->
            <div class="flex flex-col w-full pl-4 py-4 relative border border-black/10 bg-white rounded-xl shadow-md">
              <textarea id="chat-input" class="m-0 w-full resize-none border-0 bg-transparent p-0 pr-10 focus:ring-0 focus:outline-none" tabindex="0" placeholder="Send a message" style="max-height: 200px; height: 24px; overflow-y: hidden;"></textarea>
              <button id="chat-btn" class="absolute p-1 rounded-md bottom-3 md:p-2 right-3 disabled:text-gray-400 enabled:bg-violet-500 text-white transition-colors disabled:opacity-40" disabled>
                <span data-state="closed">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" class="h-4 w-4 m-1 md:m-0" stroke-width="2">
                    <path d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z" fill="currentColor"></path>
                  </svg>
                </span>
              </button>
            </div>
          </div>

        </div>


        <!--Analysis-->
        <div class="h-full w-1/3 flex flex-col justify-stretch space-y-7 overflow-auto">

          <!--Analysis items-->
          <div id="container" data-modal-toggle="defaultModal" data-modal-target="defaultModal" class="h-full p-5 border rounded-lg shadow-md flex flex-col space-y-2 overflow-y-scroll no-scrollbar">
          </div>

          <!--Info edit btn-->
          <div class="h-20">
            <button class="w-full p-4 border rounded-lg shadow-md text-stone-500">사전 정보 수정</button>
          </div>

        </div>

      </div>

    </div>
    <div id="defaultModal" tabindex="-1" aria-hidden="true" class="font-noto absolute top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-5xl max-h-full shadow-lg">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between px-4 py-1 border-b rounded-t dark:border-gray-300 bg-stone-100">
                    <div class="flex space-x-2">
                        <div class="w-2 h-2 bg-red-500 rounded-3xl"></div>
                        <div class="w-2 h-2 bg-amber-500 rounded-3xl"></div>
                        <div class="w-2 h-2 bg-green-500 rounded-3xl"></div>
                    </div>
                    <button type="button" class="text-gray-400 bg-transparent hover:text-gray-600 rounded-lg text-xs p-1.5 ml-auto inline-flex items-center" data-modal-hide="defaultModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-x-2 flex items-center justify-between">
                    <div class="flex space-x-12">
                        <p id="modal-company" class=" font-bold"></p>
                        <p id="modal-title" class="dark:text-gray-400 font-extrabold"></p>
                    </div>
                    <a id="modal-url" class="block bg-violet-200 text-violet-500 p-2 rounded-lg text-xs">
                        보러가기
                    </a>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 border-gray-200 rounded-b dark:border-gray-600">
                    <div class="w-1/6 flex flex-col justify-start px-1.5">
                        <div class="font-bold text-sm flex items-center justify-start space-x-3">
                            <img class="w-4 h-4" src="/icons/location.png" alt="loc">
                            <span>위치</span>
                        </div>
                        <span id="modal-region" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
                    </div>
                    <div class="w-1/6 flex flex-col justify-start px-1.5">
                        <div class="font-bold text-sm flex items-center justify-start space-x-3">
                            <img class="w-4 h-4" src="/icons/profit.png" alt="loc">
                            <span>연봉</span>
                        </div>
                        <span id="modal-salary" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
                    </div>
                    <div class="w-1/6 flex flex-col justify-start px-1.5">
                        <div class="font-bold text-sm flex items-center justify-start space-x-3">
                            <img class="w-4 h-4" src="/icons/sales.png" alt="loc">
                            <span>근무형태</span>
                        </div>
                        <span id="modal-type" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
                    </div>
                    <div class="w-1/6 flex flex-col justify-start px-1.5">
                        <div class="font-bold text-sm flex items-center justify-start space-x-3">
                            <img class="w-4 h-4" src="/icons/profile.png" alt="loc">
                            <span>학력</span>
                        </div>
                        <span id="modal-education" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
                    </div>
                    <div class="w-1/6 flex flex-col justify-start px-1.5">
                        <div class="font-bold text-sm flex items-center justify-start space-x-3">
                            <img class="w-4 h-4" src="/icons/career.png" alt="loc">
                            <span>경력</span>
                        </div>
                        <span id="modal-career" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
                    </div>
                    <div class="w-1/6 flex flex-col justify-start px-1.5">
                        <div class="font-bold text-sm flex items-center justify-start space-x-3">
                            <img class="w-4 h-4" src="/icons/time.png" alt="loc">
                            <span>근무시간</span>
                        </div>
                        <span id="modal-time" class="w-full text-xs truncate text-ellipsis">경기 화성시 화성시화성시화성시화성시화성시</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('chat-input').addEventListener('keydown', function(event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevents the addition of a new line in the input when pressing enter

            var inputValue = this.value;
            this.value = '';  // Clears the input field

            // Creating new user element
            var userChatItem = document.createElement('div');
            userChatItem.classList.add('user', 'flex', 'space-x-3');

            var userImg = document.createElement('img');
            userImg.classList.add('w-7', 'h-7', 'rounded-lg');
            userImg.src = "{{image}}";

            var userText = document.createElement('div');
            userText.classList.add('w-full', 'p-5', 'bg-pink-100', 'rounded-lg');
            userText.textContent = inputValue;

            userChatItem.appendChild(userImg);
            userChatItem.appendChild(userText);

            document.getElementById('chats').appendChild(userChatItem);

            // Collecting chat records
            var chatItems = Array.from(document.getElementById('chats').children).map(function(chatItem) {
                return {
                    role: chatItem.classList.contains('assistant') ? 'assistant' : 'user',
                    content: chatItem.querySelector('.w-full').textContent
                };
            });

            // Sending request
            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(chatItems)
            })
                    .then(async (response) => {
                        if (response.status !== 200) {
                            alert("로그인이 필요합니다.")
                            location.href = "/login"
                        }
                        return await response.json()
                    })
                    .then(data => {
                        // Create and append assistant chat item
                        var assistantChatItem = document.createElement('div');
                        assistantChatItem.classList.add('assistant', 'flex', 'space-x-3');

                        var assistantImg = document.createElement('img');
                        assistantImg.classList.add('w-7', 'h-7', 'rounded-lg');
                        assistantImg.src = "/images/logo-rev.png";

                        var assistantText = document.createElement('div');
                        assistantText.classList.add('w-full', 'p-5', 'bg-violet-100', 'rounded-lg');
                        assistantText.textContent = data.content;

                        assistantChatItem.appendChild(assistantImg);
                        assistantChatItem.appendChild(assistantText);

                        document.getElementById('chats').appendChild(assistantChatItem);
                    });
        }
    });

</script>
<script>
  const chatInput = document.getElementById("chat-input")

  chatInput.oninput = () => {
    const chatInput = document.getElementById("chat-input")
    const chatBtn = document.getElementById("chat-btn")

    if (chatInput.value.length > 0) {
      chatBtn.removeAttribute("disabled")
    } else {
      chatBtn.setAttribute("disabled", "")
    }
  }
  chatInput.onkeydown = async (e) => {
      if (e.key === 'Enter') {
          const url = "/chat"
          const response = await fetch(url, {
              method: 'POST',
              credentials: 'same-origin',
              headers: {
                  'Content-Type': 'application/json',
                  // 'Content-Type': 'application/x-www-form-urlencoded',
              },
              redirect: 'follow',
              referrerPolicy: 'no-referrer',
              body: JSON.stringify(data),
          })

      }
  }
</script>
<script>
    let data = [];

    const refreshData = async () => {
        await fetch("/result")
                .then(async (res) => {
                    data = await res.json()
                    console.log(data)
                    updateData()
                })
    }
    refreshData();
    setInterval(refreshData, 10000)

    const updateData = () => {
        console.log(data)

        let container = document.getElementById('container');
        container.innerHTML = ''

        for (const item of data) {
            let div = document.createElement('a');
            div.setAttribute("data-modal-target", "defaultModal");
            div.setAttribute("data-modal-toggle","defaultModal");
            div.className = "p-2 flex flex-col border rounded-lg space-y-2 text-stone-600 cursor-pointer";
            div.addEventListener("click", () => {
                console.log(item)
                const modalCompany = document.getElementById("modal-company");
                const modalTitle = document.getElementById("modal-title");
                const modalUrl = document.getElementById("modal-url");
                const modalRegion = document.getElementById("modal-region");
                const modalCareer = document.getElementById("modal-career");
                const modalTime = document.getElementById("modal-time");
                const modalSalary = document.getElementById("modal-salary");
                const modalType = document.getElementById("modal-type");

                modalCompany.innerText = item.company;
                modalTitle.innerText = item.title;
                modalUrl.setAttribute("href", item.url);
                modalRegion.innerText = item.region;
                modalCareer.innerText = item.career;
                modalTime.innerText = item.time;
                modalSalary.innerText = item.salary;
                modalType.innerText = item.type;
            })

            div.innerHTML = `
                <div class="text-xs truncate text-ellipsis">${item.company}</div>
                <div class="text-black font-bold truncate text-ellipsis">${item.title}</div>
                <div class="flex justify-between">
                  <div class="w-1/3 flex justify-start">
                    <img class="w-4 h-4" src="/icons/location.png" alt="loc">
                    <span class="w-full text-xs truncate text-ellipsis">${item.region}</span>
                  </div>
                  <div class="w-1/3 flex justify-start">
                    <img class="w-4 h-4" src="/icons/profile.png" alt="edu">
                    <span class="text-xs truncate text-ellipsis">${item.education}</span>
                  </div>
                  <div class="w-1/3 flex justify-start">
                    <img class="w-4 h-4" src="/icons/approval.png" alt="years">
                    <span class="text-xs truncate text-ellipsis">${item.career}</span>
                  </div>
                </div>
            `;

            container.appendChild(div);
        }
    }
</script>
<script src="/js/flowbite.min.js"></script>
</html>