<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <style>
        .first {
            border: 1px solid red;
            width: 15rem;
            box-sizing: border-box;
        }

        .second{
            border: 1px solid green;
            width:100%;
            box-sizing: border-box;
        }

        .third{
            border: 1px solid blue;

            width:20rem;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div style="display: flex">
        <div class="first">a</div>
        <div class="second">b</div>
        <div class="third">c</div>
    </div>
</body>
</html>