<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/css/output.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<div class="w-screen h-screen py-8 flex flex-col justify-between items-center text-center">
  <a href="/">
    <img loading="lazy" class="w-10 h-10 rounded-lg" src="/images/logo-64.png" alt="kim" />
  </a>
  <div class="flex flex-col space-y-5">
    <div>
      <h1 class="pb-14 text-3xl text-stone-700 font-bold">환영합니다</h1>
    </div>
    <div class="w-full flex">
      <div class="w-full h-3 border-b border-stone-400"> </div>
      <span class="w-fit px-4 text-sm text-stone-700">LOGIN</span>
      <div class="w-full h-3 border-b border-stone-400"></div>
    </div>
    <a th:href="|/login/github?redirect=${redirect_uri}|" class="w-80 p-3 border flex items-center space-x-5 rounded hover:bg-stone-100">
      <svg class="w-7 h-7" width="16" height="16" aria-hidden="true" viewBox="0 0 16 16" >
        <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
      </svg>
      <span class="">Continue with Github</span>
    </a>
    <a href="#" class="w-80 p-3 border flex items-center space-x-5 rounded cursor-not-allowed">
      <img loading="lazy" class="w-7 h-7" width="16" height="16" alt="google" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cpath id='a' d='M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' overflow='visible'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23b)' fill='%23FBBC05' d='M0 37V11l17 13z'/%3E%3Cpath clip-path='url(%23b)' fill='%23EA4335' d='M0 11l17 13 7-6.1L48 14V0H0z'/%3E%3Cpath clip-path='url(%23b)' fill='%2334A853' d='M0 37l30-23 7.9 1L48 0v48H0z'/%3E%3Cpath clip-path='url(%23b)' fill='%234285F4' d='M48 48L17 24l-4-3 35-10z'/%3E%3C/svg%3E" />
      <span>Continue with Google</span>
    </a>
    <div class="flex flex-col space-y-1">
        <span class="text-xs text-stone-600 dark:text-black pb-2">Only github account available.</span>
        <span class="text-xs text-stone-200 dark:text-black">No github account? Too bad for you..</span>
      <span class="text-xs text-stone-100">I'll provide Google acc someday..</span>
      <span class="text-xs text-stone-50">Just kidding, no more developments :p</span>
    </div>
  </div>
  <div class="flex items-center">
    <a class="text-violet-500" href="https://github.com/Team-KHPT/project-kim">Github Repo</a>
    <span class="px-3 text-sm">|</span>
    <a class="text-violet-500" href="https://github.com/Team-KHPT">Team-KHPT</a>
  </div>
</div>
</body>
</html>